@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);
/* line 13, ../scss/login.scss */
#body-bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  z-index: 0;
}
/* line 20, ../scss/login.scss */
#body-bg:after {
  content: "";
  background: inherit;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -ms-filter: blur(8px);
  -o-filter: blur(8px);
  position: absolute;
  width: 102%;
  height: 102%;
  z-index: -1;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
}
/* line 34, ../scss/login.scss */
#body-bg:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
}
/* line 44, ../scss/login.scss */
#body-bg #login-content {
  z-index: 10;
  position: relative;
  width: 60%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  margin: auto;
  margin-top: 60px;
  padding: 0;
  box-shadow: 0 0 5px rgba(34, 34, 34, 0.4);
}
/* line 57, ../scss/login.scss */
#body-bg #login-content section {
  width: 100%;
  padding-top: 20px;
}
/* line 60, ../scss/login.scss */
#body-bg #login-content section .icon {
  width: 78px;
  height: 50px;
  position: relative;
  display: inline-block;
  content: "";
  background-image: url(../imgs/coop_1.png);
  background-size: 100%;
  vertical-align: middle;
}
/* line 70, ../scss/login.scss */
#body-bg #login-content section h2 {
  margin: 0;
  margin-bottom: 20px;
  vertical-align: middle;
}
/* line 77, ../scss/login.scss */
#body-bg #login-content .form-group {
  margin: 0;
}
/* line 81, ../scss/login.scss */
#body-bg #login-content #name,
#body-bg #login-content #pass {
  position: relative;
}
/* line 85, ../scss/login.scss */
#body-bg #login-content #name input,
#body-bg #login-content #pass input {
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  margin: 0;
  padding: 20px 0;
  padding-left: 40px;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}
/* line 96, ../scss/login.scss */
#body-bg #login-content #name input:-webkit-autofill,
#body-bg #login-content #pass input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  color: #fff;
}
/* line 101, ../scss/login.scss */
#body-bg #login-content #name .msg,
#body-bg #login-content #pass .msg {
  color: #b32034;
}
/* line 105, ../scss/login.scss */
#body-bg #login-content #name:before,
#body-bg #login-content #pass:before {
  content: "";
  position: absolute;
  background-size: 100%;
  top: 20px;
  bottom: 0;
  left: 10px;
  margin: auto;
  height: 20px;
  width: 20px;
}
/* line 118, ../scss/login.scss */
#body-bg #login-content #name:before {
  background-image: url(../imgs/user_1.png);
}
/* line 121, ../scss/login.scss */
#body-bg #login-content #name input {
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}
/* line 127, ../scss/login.scss */
#body-bg #login-content #pass:before {
  background-image: url(../imgs/key_1.png);
}
/* line 130, ../scss/login.scss */
#body-bg #login-content #pass input {
  border-bottom: 1px solid #999999;
}
/* line 134, ../scss/login.scss */
#body-bg #login-content #login {
  width: 100%;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border: none;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  padding: 15px 0;
  margin: 20px 0;
}
