/* line 20, ../scss/_colors.scss */
a:link {
  color: #3261ab;
}

/* line 21, ../scss/_colors.scss */
a:visited {
  color: #aaa;
}

/* line 22, ../scss/_colors.scss */
a:hover {
  color: #bf1e56;
}

/* line 23, ../scss/_colors.scss */
a:active {
  color: #bf1e56;
}

/* line 1, ../scss/_base.scss */
html, body {
  font-family: "Noto Sans Japanese";
  background: #f5f5f5;
  font-size: 16px;
  margin: 0;
}

/* line 9, ../scss/_base.scss */
a {
  text-decoration: none;
  padding: 5px;
}
/* line 12, ../scss/_base.scss */
a:hover {
  transition: 0.4s;
}

/* line 18, ../scss/_base.scss */
p {
  margin: 5px 0;
}

/* line 22, ../scss/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rounded Mplus 1c";
  margin: 10px 0;
}

/* line 34, ../scss/_base.scss */
ul,
ol {
  margin: 10px 0;
}

/* line 40, ../scss/_base.scss */
table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
}
/* line 44, ../scss/_base.scss */
table th {
  border: 1px solid #ccc;
  text-align: left;
}
/* line 48, ../scss/_base.scss */
table td {
  border: 1px solid #ccc;
}

/* line 53, ../scss/_base.scss */
input,
select,
textarea {
  padding: 10px 5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border: 1px solid #ccc;
  font-family: "Noto Sans Japanese";
}
/* line 62, ../scss/_base.scss */
input:hover,
select:hover,
textarea:hover {
  transition: 0.6s;
  box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.2);
  -webkit-box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.2);
  -moz-box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.2);
  -ms-box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.2);
  -o-box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.2);
}

/* line 68, ../scss/_base.scss */
input[type="radio"],
input[type="checkbox"] {
  width: 15px;
  height: 15px;
  padding: 0;
}

/* line 76, ../scss/_base.scss */
input[type="button"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"],
button,
a {
  cursor: pointer;
}

/* line 1, ../scss/_container.scss */
.container {
  padding: 10px;
}

/* line 4, ../scss/_container.scss */
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}
/* line 11, ../scss/_container.scss */
.flex .col-1 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 7.333%;
  min-width: 100px;
}
/* line 11, ../scss/_container.scss */
.flex .col-2 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 14.666%;
  min-width: 100px;
}
/* line 11, ../scss/_container.scss */
.flex .col-3 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 21.999%;
  min-width: 100px;
}
/* line 11, ../scss/_container.scss */
.flex .col-4 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 29.332%;
  min-width: 100px;
}
/* line 11, ../scss/_container.scss */
.flex .col-5 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 36.665%;
  min-width: 100px;
}
/* line 11, ../scss/_container.scss */
.flex .col-6 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 43.998%;
  min-width: 100px;
}
/* line 11, ../scss/_container.scss */
.flex .col-7 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 51.331%;
  min-width: 100px;
}
/* line 11, ../scss/_container.scss */
.flex .col-8 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 58.664%;
  min-width: 100px;
}
/* line 11, ../scss/_container.scss */
.flex .col-9 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 65.997%;
  min-width: 100px;
}
/* line 11, ../scss/_container.scss */
.flex .col-10 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 73.33%;
  min-width: 100px;
}
/* line 11, ../scss/_container.scss */
.flex .col-11 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 80.663%;
  min-width: 100px;
}
/* line 11, ../scss/_container.scss */
.flex .col-12 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 87.996%;
  min-width: 100px;
}

/* line 1, ../scss/_header.scss */
header {
  background: #444;
  color: #fff;
  padding: 10px 0;
}
/* line 5, ../scss/_header.scss */
header h1 {
  margin: 0;
  display: inline-block;
  box-sizing: border-box;
  padding: 5px 30px 5px 10px;
  border-bottom: 2px solid #93b11d;
  color: #93b11d;
}

/* line 1, ../scss/_class.scss */
.text-right {
  text-align: right;
}

/* line 4, ../scss/_class.scss */
.text-left {
  text-align: left;
}

/* line 7, ../scss/_class.scss */
.text-center {
  text-align: center;
}

/* line 11, ../scss/_class.scss */
.border-bottom {
  border: none;
}
/* line 13, ../scss/_class.scss */
.border-bottom th, .border-bottom td {
  border: none;
  border-bottom: 1px solid #ccc;
}

/* line 18, ../scss/_class.scss */
.border-none {
  border: none;
}
/* line 20, ../scss/_class.scss */
.border-none th, .border-none td {
  border: none;
}

/* line 27, ../scss/_class.scss */
.table-hover tbody tr:hover th, .table-hover tbody tr:hover td {
  background: #cfcfcf;
  transition: 0.4s;
}

/* line 35, ../scss/_class.scss */
.table-stripe tbody tr:nth-child(odd) {
  background: #e8e8e8;
}

/* line 40, ../scss/_class.scss */
.btn {
  padding: 10px 20px;
}

/* line 43, ../scss/_class.scss */
.block {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

/* line 48, ../scss/_class.scss */
.inline {
  display: inline-block;
}

/* line 52, ../scss/_class.scss */
.btn-blue {
  background: #2d579a;
  color: #fff;
  border: 1px solid #4a7bca;
}
/* line 6, ../scss/mixin/_btnColor.scss */
.btn-blue:hover {
  transition: 0.4s;
  background: #4a7bca;
}

/* line 55, ../scss/_class.scss */
.btn-red {
  background: #b32034;
  color: #fff;
  border: 1px solid #dd4257;
}
/* line 6, ../scss/mixin/_btnColor.scss */
.btn-red:hover {
  transition: 0.4s;
  background: #dd4257;
}

/* line 58, ../scss/_class.scss */
.btn-yellow {
  background: #f2bc09;
  color: #fff;
  border: 1px solid #f8d14f;
}
/* line 6, ../scss/mixin/_btnColor.scss */
.btn-yellow:hover {
  transition: 0.4s;
  background: #f8d14f;
}

/* line 61, ../scss/_class.scss */
.btn-green {
  background: #93b11d;
  color: #fff;
  border: 1px solid #bedf3c;
}
/* line 6, ../scss/mixin/_btnColor.scss */
.btn-green:hover {
  transition: 0.4s;
  background: #bedf3c;
}

/* line 64, ../scss/_class.scss */
.btn-purple {
  background: #693a8a;
  color: #fff;
  border: 1px solid #9158b9;
}
/* line 6, ../scss/mixin/_btnColor.scss */
.btn-purple:hover {
  transition: 0.4s;
  background: #9158b9;
}

/* line 69, ../scss/_class.scss */
.form-group label, .form-group .msg {
  display: block;
  font-size: 0.8em;
}
/* line 73, ../scss/_class.scss */
.form-group input, .form-group select, .form-group textarea {
  width: 100%;
}

/* line 80, ../scss/_class.scss */
.form-inline input, .form-inline select, .form-inline textarea {
  width: auto;
}

/* line 3, ../scss/mixin/_formColor.scss */
.warning label {
  color: #c19607;
}
/* line 6, ../scss/mixin/_formColor.scss */
.warning input,
.warning select,
.warning textarea {
  border: 1px solid #f2bc09;
  color: #c19607;
}
/* line 13, ../scss/mixin/_formColor.scss */
.warning .msg {
  color: #c19607;
}

/* line 3, ../scss/mixin/_formColor.scss */
.success label {
  color: #6f8516;
}
/* line 6, ../scss/mixin/_formColor.scss */
.success input,
.success select,
.success textarea {
  border: 1px solid #93b11d;
  color: #6f8516;
}
/* line 13, ../scss/mixin/_formColor.scss */
.success .msg {
  color: #6f8516;
}

/* line 3, ../scss/mixin/_formColor.scss */
.danger label {
  color: #881827;
}
/* line 6, ../scss/mixin/_formColor.scss */
.danger input,
.danger select,
.danger textarea {
  border: 1px solid #b32034;
  color: #881827;
}
/* line 13, ../scss/mixin/_formColor.scss */
.danger .msg {
  color: #881827;
}
