/* line 4, ../scss/scripts/_modal.scss */
.modal-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  left: 0;
  top: 0;
  background: rgba(34, 34, 34, 0.7);
  z-index: 99;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
}
/* line 13, ../scss/scripts/_modal.scss */
.modal-bg h1, .modal-bg h2, .modal-bg h3, .modal-bg h4, .modal-bg h5, .modal-bg h6 {
  margin: 0;
}
/* line 18, ../scss/scripts/_modal.scss */
.modal-bg .modal-close {
  cursor: pointer;
}
/* line 21, ../scss/scripts/_modal.scss */
.modal-bg .modal-content {
  position: absolute;
  width: 80%;
  max-width: 800px;
  left: 0;
  right: 0;
  top: 100px;
  margin: auto;
  box-shadow: 5px 5px 3px rgba(34, 34, 34, 0.4);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transform-origin: 0px 0px;
  -webkit-transform-origin: 0px 0px;
  -moz-transform-origin: 0px 0px;
  -ms-transform-origin: 0px 0px;
  -o-transform-origin: 0px 0px;
  animation: modal_open 0.6s forwards;
}
/* line 34, ../scss/scripts/_modal.scss */
.modal-bg .modal-content .modal-close {
  position: absolute;
  right: -15px;
  top: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #b32034;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}
/* line 47, ../scss/scripts/_modal.scss */
.modal-bg .modal-content .modal-header, .modal-bg .modal-content .modal-body, .modal-bg .modal-content .modal-footer {
  padding: 10px 15px;
}
/* line 50, ../scss/scripts/_modal.scss */
.modal-bg .modal-content .modal-header {
  border-bottom: 1px solid #b3b3b3;
  background: gainsboro;
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
}
/* line 56, ../scss/scripts/_modal.scss */
.modal-bg .modal-content .modal-body {
  border-bottom: 1px solid #b3b3b3;
  background: #f5f5f5;
}
/* line 60, ../scss/scripts/_modal.scss */
.modal-bg .modal-content .modal-footer {
  background: gainsboro;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
}

@keyframes modal_open {
  0% {
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    opacity: 0.2;
  }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    opacity: 1.0;
  }
}
/* line 72, ../scss/scripts/_modal.scss */
.modal-hide {
  display: none;
}

/* line 4, ../scss/scripts/_toggle.scss */
.toggle-menu dt {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}
/* line 8, ../scss/scripts/_toggle.scss */
.toggle-menu dt:hover {
  color: #555555;
}
/* line 12, ../scss/scripts/_toggle.scss */
.toggle-menu dt h1, .toggle-menu dt h2, .toggle-menu dt h3, .toggle-menu dt h4, .toggle-menu dt h5, .toggle-menu dt h6 {
  margin: 0;
}
/* line 16, ../scss/scripts/_toggle.scss */
.toggle-menu .toggle-icon {
  position: absolute;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: auto;
  bottom: 0;
  top: 0;
  background-image: url("../imgs/toggle.png");
  background-repeat: no-repeat;
  background-position: center center;
  left: 0;
  transition: 0.6s;
}
/* line 31, ../scss/scripts/_toggle.scss */
.toggle-menu .toggle-open {
  transform: rotateZ(90deg);
}

/* line 8, ../scss/scripts/_tips.scss */
.tips-trigger {
  z-index: 1;
}

/* line 12, ../scss/scripts/_tips.scss */
.tips-target {
  display: none;
  z-index: 0;
}

@keyframes tips {
  0% {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}
/* line 28, ../scss/scripts/_tips.scss */
.tips-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  background-color: rgba(242, 188, 9, 0.7);
  background-image: url(../imgs/tips.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75%;
  border: 1px solid #c19607;
  position: absolute;
  right: 20px;
  bottom: 40px;
  cursor: pointer;
}
/* line 44, ../scss/scripts/_tips.scss */
.tips-btn:hover {
  transition: 0.6s;
  opacity: 0.7;
}

/* line 49, ../scss/scripts/_tips.scss */
.tips-content {
  padding: 10px 20px;
  box-sizing: border-box;
  position: absolute;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  z-index: 10;
  width: 40%;
  min-height: 100px;
  max-height: 300px;
  background: rgba(34, 34, 34, 0.5);
  color: #fff;
  border: 1px solid #666666;
  font-size: 0.9em;
  top: auto;
  bottom: 74px;
  font-size: 0.8em;
  right: 34px;
  display: none;
}

/* line 1, ../scss/scripts/_logout.scss */
.logout-menu:hover {
  color: #e98391;
  transition: 0.6s;
  cursor: pointer;
}

/* line 7, ../scss/scripts/_logout.scss */
.logout-content {
  position: absolute;
  right: 5px;
  top: 55px;
  box-sizing: border-box;
  padding: 5px 0;
  display: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  width: 150px;
  font-size: 0.8em;
  text-align: center;
}
/* line 19, ../scss/scripts/_logout.scss */
.logout-content a {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

/* line 31, ../scss/scripts/_logout.scss */
.arrow-box {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
}
/* line 35, ../scss/scripts/_logout.scss */
.arrow-box:before, .arrow-box:after {
  bottom: 100%;
  left: 85%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 45, ../scss/scripts/_logout.scss */
.arrow-box:before {
  border-color: rgba(153, 153, 153, 0);
  border-bottom-color: #ccc;
  border-width: 6px;
  margin-left: -6px;
}
/* line 51, ../scss/scripts/_logout.scss */
.arrow-box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 5px;
  margin-left: -5px;
}

/* line 1, ../scss/scripts/_draggable.scss */
.draggable {
  position: absolute;
  top: 70px;
  right: 20px;
  cursor: move;
  z-index: 2;
}
/* line 7, ../scss/scripts/_draggable.scss */
.draggable:after {
  content: '';
  background-image: url(../imgs/draggable.png);
  background-repeat: no-repeat;
  opacity: 0.3;
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 2px;
  right: 2px;
}
