/* line 1, ../scss/scripts/_modal.scss */
.modal-bg {
  position: absolute;
  width: 100%;
  height: 130%;
  left: 0;
  top: 0;
}

/* line 4, ../scss/scripts/_toggle.scss */
.toggle-menu dt {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}
/* line 8, ../scss/scripts/_toggle.scss */
.toggle-menu dt:hover {
  background-color: gainsboro;
}
/* line 12, ../scss/scripts/_toggle.scss */
.toggle-menu .toggle-icon {
  position: absolute;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: auto;
  bottom: 0;
  top: 0;
  background-image: url("../imgs/toggle.png");
  background-repeat: no-repeat;
  background-position: center center;
  left: 0;
  transition: 0.6s;
}
/* line 27, ../scss/scripts/_toggle.scss */
.toggle-menu .toggle-open {
  transform: rotateZ(90deg);
}

/* line 9, ../scss/scripts.scss */
.draggable {
  cursor: move;
}
