@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);
/* line 1, ../scss/_base.scss */
html {
  overflow-y: scroll;
  overflow-x: hidden;
}

/* line 6, ../scss/_base.scss */
body {
  padding: 50px 0;
  height: 100%;
}

/* line 10, ../scss/_base.scss */
html, body {
  font-family: "Noto Sans Japanese";
  background: #f5f5f5;
  font-size: 16px;
  margin: 0;
  position: relative;
  min-height: 100%;
}

/* line 19, ../scss/_base.scss */
a {
  text-decoration: none;
  padding: 5px;
  outline: none;
}
/* line 23, ../scss/_base.scss */
a:hover {
  transition: 0.6s;
}

/* line 28, ../scss/_base.scss */
a:link {
  color: #3261ab;
}

/* line 29, ../scss/_base.scss */
a:visited {
  color: #2c5697;
}

/* line 30, ../scss/_base.scss */
a:hover {
  color: #bf1e56;
}

/* line 31, ../scss/_base.scss */
a:active {
  color: #bf1e56;
}

/* line 33, ../scss/_base.scss */
.btn:link {
  color: #fff;
}

/* line 34, ../scss/_base.scss */
.btn:visited {
  color: #fff;
}

/* line 35, ../scss/_base.scss */
.btn:hover {
  color: #fff;
}

/* line 36, ../scss/_base.scss */
.btn:active {
  color: #fff;
}

/* line 38, ../scss/_base.scss */
p {
  margin: 5px 0;
}

/* line 42, ../scss/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rounded Mplus 1c";
  margin: 10px 0;
}

/* line 53, ../scss/_base.scss */
ul,
ol {
  margin: 10px 0;
}

/* line 59, ../scss/_base.scss */
table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 10px 0;
}
/* line 64, ../scss/_base.scss */
table th {
  text-align: left;
}
/* line 68, ../scss/_base.scss */
table td {
  padding: 2px 5px;
}
/* line 70, ../scss/_base.scss */
table td:first-child:before {
  content: "";
  display: block;
  height: 35px;
  float: left;
}
/* line 77, ../scss/_base.scss */
table th, table td {
  border: 1px solid #ccc;
}

/* line 81, ../scss/_base.scss */
form {
  margin: 0;
}

/* line 84, ../scss/_base.scss */
input,
select,
textarea {
  padding: 10px 5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: "Noto Sans Japanese";
  outline: none;
}
/* line 94, ../scss/_base.scss */
input:hover,
select:hover,
textarea:hover {
  transition: 0.6s;
  box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.2);
  -webkit-box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.2);
  -moz-box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.2);
  -ms-box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.2);
  -o-box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.2);
}

/* line 100, ../scss/_base.scss */
input[type="radio"],
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  padding: 0;
}
/* line 106, ../scss/_base.scss */
input[type="radio"]:hover,
input[type="checkbox"]:hover {
  transition: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}

/* line 112, ../scss/_base.scss */
input[type="button"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"],
input[type="color"],
button,
a {
  cursor: pointer;
}

/* line 122, ../scss/_base.scss */
input[type="color"] {
  padding: 0;
  height: 30px;
  width: 60px;
}

/* line 127, ../scss/_base.scss */
pre, code {
  font-family: "Source Code Pro", sans-serif;
  font-size: 0.85em;
}

/* line 131, ../scss/_base.scss */
pre {
  border: 1px solid #ccc;
  background: #ededed;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 0;
  z-index: 0;
}

/* line 138, ../scss/_base.scss */
code {
  position: relative;
  white-space: pre-wrap;
  word-break: break-all;
  z-index: 0;
}
/* line 143, ../scss/_base.scss */
code:before {
  white-space: pre-wrap;
  word-break: normal;
  content: "code";
  border: 1px solid #ccc;
  position: absolute;
  margin: 0;
  padding: 2px 5px;
  left: 10px;
  top: -3px;
  background: gainsboro;
}

/* line 1, ../scss/_container.scss */
.container {
  padding: 10px;
}

/* line 4, ../scss/_container.scss */
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}
/* line 11, ../scss/_container.scss */
.flex .col-1 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 7.333%;
  min-width: 150px;
}
/* line 11, ../scss/_container.scss */
.flex .col-2 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 14.666%;
  min-width: 150px;
}
/* line 11, ../scss/_container.scss */
.flex .col-3 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 21.999%;
  min-width: 150px;
}
/* line 11, ../scss/_container.scss */
.flex .col-4 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 29.332%;
  min-width: 150px;
}
/* line 11, ../scss/_container.scss */
.flex .col-5 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 36.665%;
  min-width: 150px;
}
/* line 11, ../scss/_container.scss */
.flex .col-6 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 43.998%;
  min-width: 150px;
}
/* line 11, ../scss/_container.scss */
.flex .col-7 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 51.331%;
  min-width: 150px;
}
/* line 11, ../scss/_container.scss */
.flex .col-8 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 58.664%;
  min-width: 150px;
}
/* line 11, ../scss/_container.scss */
.flex .col-9 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 65.997%;
  min-width: 150px;
}
/* line 11, ../scss/_container.scss */
.flex .col-10 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 73.33%;
  min-width: 150px;
}
/* line 11, ../scss/_container.scss */
.flex .col-11 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 80.663%;
  min-width: 150px;
}
/* line 11, ../scss/_container.scss */
.flex .col-12 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 87.996%;
  min-width: 150px;
}

/* line 22, ../scss/_container.scss */
.col-btn {
  width: 30px;
  height: 30px;
  position: fixed;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 0;
  background-image: url(../imgs/toggle.png);
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transition: 0.6s;
  opacity: 0.5;
}
/* line 34, ../scss/_container.scss */
.col-btn:hover {
  background-image: url(../imgs/toggle.png);
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 40, ../scss/_container.scss */
.col-close {
  transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  transition: 0.6s;
}

/* line 1, ../scss/_header.scss */
header {
  background: #444;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
/* line 9, ../scss/_header.scss */
header .logo {
  display: inline-block;
  width: 170px;
  height: 25px;
  background-image: url(../imgs/logo_2.png);
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 16, ../scss/_header.scss */
header .logo:hover {
  transition: 0.6s;
  background-image: url(../imgs/logo_2_hover.png);
}
/* line 22, ../scss/_header.scss */
header .user-name {
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
}
/* line 27, ../scss/_header.scss */
header .user-name .honorific {
  font-size: 0.8em;
}
/* line 32, ../scss/_header.scss */
header .logout {
  position: absolute;
  right: 5px;
  top: 45px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px 20px;
}

/* line 1, ../scss/_menu.scss */
.menu {
  position: relative;
}
/* line 3, ../scss/_menu.scss */
.menu ul {
  list-style: none;
  padding: 0;
}
/* line 6, ../scss/_menu.scss */
.menu ul li {
  border-bottom: 1px solid #ccc;
  text-align: center;
  vertical-align: middle;
}
/* line 12, ../scss/_menu.scss */
.menu ul li a {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
}
/* line 17, ../scss/_menu.scss */
.menu ul li a:hover {
  background: #d4dff2;
  transition: 0.6s;
}

/* line 26, ../scss/_menu.scss */
.menu-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  bottom: 0;
  right: -15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 0;
  margin: auto;
  background: #767676;
  border: 1px solid gray;
}

/* line 1, ../scss/_footer.scss */
footer {
  background: #444;
  color: #fff;
  padding: 10px;
  position: absolute;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
}

/* line 1, ../scss/_class.scss */
.text-right {
  text-align: right;
}

/* line 4, ../scss/_class.scss */
.text-left {
  text-align: left;
}

/* line 7, ../scss/_class.scss */
.text-center {
  text-align: center;
}

/* line 11, ../scss/_class.scss */
.border-bottom {
  border: none;
}
/* line 13, ../scss/_class.scss */
.border-bottom th, .border-bottom td {
  border: none;
  border-bottom: 1px solid #ccc;
}

/* line 18, ../scss/_class.scss */
.border-none {
  border: none;
}
/* line 20, ../scss/_class.scss */
.border-none th, .border-none td {
  border: none;
}

/* line 27, ../scss/_class.scss */
.table-hover tbody tr:hover th, .table-hover tbody tr:hover td {
  background: #e8e8e8;
  transition: 0.6s;
}

/* line 35, ../scss/_class.scss */
.table-stripe tbody tr:nth-child(odd) {
  background: #e8e8e8;
}

/* line 40, ../scss/_class.scss */
.btn, button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: darkgray;
  box-sizing: border-box;
  display: inline-block;
  margin: 5px 2px;
  outline: none;
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;
  outline: none;
}
/* line 54, ../scss/_class.scss */
.btn:hover, button:hover {
  transition: 0.6s;
  background: #c2c2c2;
}

/* line 59, ../scss/_class.scss */
.block {
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

/* line 65, ../scss/_class.scss */
.inline {
  display: inline-block;
}

/* line 69, ../scss/_class.scss */
.btn-blue {
  background: #2d579a;
  color: #fff;
  border: 1px solid #274c86;
}
/* line 6, ../scss/mixin/_btnColor.scss */
.btn-blue:hover {
  transition: 0.6s;
  background: #274c86;
}

/* line 72, ../scss/_class.scss */
.btn-red {
  background: #b32034;
  color: #fff;
  border: 1px solid #9d1c2e;
}
/* line 6, ../scss/mixin/_btnColor.scss */
.btn-red:hover {
  transition: 0.6s;
  background: #9d1c2e;
}

/* line 75, ../scss/_class.scss */
.btn-yellow {
  background: #f2bc09;
  color: #fff;
  border: 1px solid #d9a908;
}
/* line 6, ../scss/mixin/_btnColor.scss */
.btn-yellow:hover {
  transition: 0.6s;
  background: #d9a908;
}

/* line 78, ../scss/_class.scss */
.btn-green {
  background: #93b11d;
  color: #fff;
  border: 1px solid #819b19;
}
/* line 6, ../scss/mixin/_btnColor.scss */
.btn-green:hover {
  transition: 0.6s;
  background: #819b19;
}

/* line 81, ../scss/_class.scss */
.btn-purple {
  background: #693a8a;
  color: #fff;
  border: 1px solid #5b3278;
}
/* line 6, ../scss/mixin/_btnColor.scss */
.btn-purple:hover {
  transition: 0.6s;
  background: #5b3278;
}

/* line 85, ../scss/_class.scss */
.bg-blue,
.bg-red,
.bg-yellow,
.bg-green,
.bg-purple {
  color: #fff;
}

/* line 94, ../scss/_class.scss */
.bg-blue {
  background: #2d579a !important;
}

/* line 97, ../scss/_class.scss */
.bg-red {
  background: #b32034 !important;
}

/* line 100, ../scss/_class.scss */
.bg-yellow {
  background: #f2bc09 !important;
}

/* line 103, ../scss/_class.scss */
.bg-green {
  background: #93b11d !important;
}

/* line 106, ../scss/_class.scss */
.bg-purple {
  background: #693a8a !important;
}

/* line 109, ../scss/_class.scss */
.bg-glay {
  background: gainsboro;
}

/* line 112, ../scss/_class.scss */
.bg-white {
  background: #fff;
}

/* line 118, ../scss/_class.scss */
.opacity-1 {
  opacity: 0.1;
}

/* line 118, ../scss/_class.scss */
.opacity-2 {
  opacity: 0.2;
}

/* line 118, ../scss/_class.scss */
.opacity-3 {
  opacity: 0.3;
}

/* line 118, ../scss/_class.scss */
.opacity-4 {
  opacity: 0.4;
}

/* line 118, ../scss/_class.scss */
.opacity-5 {
  opacity: 0.5;
}

/* line 118, ../scss/_class.scss */
.opacity-6 {
  opacity: 0.6;
}

/* line 118, ../scss/_class.scss */
.opacity-7 {
  opacity: 0.7;
}

/* line 118, ../scss/_class.scss */
.opacity-8 {
  opacity: 0.8;
}

/* line 118, ../scss/_class.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 122, ../scss/_class.scss */
.form-group label, .form-group .msg {
  display: block;
  font-size: 0.8em;
}
/* line 126, ../scss/_class.scss */
.form-group input, .form-group select, .form-group textarea {
  width: 100%;
}

/* line 133, ../scss/_class.scss */
.form-trans input, .form-trans select, .form-trans textarea {
  background: rgba(255, 255, 255, 0.2);
}

/* line 142, ../scss/_class.scss */
.radio label,
.checkbox label {
  display: block;
  cursor: pointer;
  vertical-align: middle;
}
/* line 146, ../scss/_class.scss */
.radio label input[type="checkbox"],
.radio label input[type="radio"],
.checkbox label input[type="checkbox"],
.checkbox label input[type="radio"] {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin: 0;
}

/* line 158, ../scss/_class.scss */
.form-group-inline label {
  display: inline-block;
}
/* line 161, ../scss/_class.scss */
.form-group-inline input, .form-group-inline select, .form-group-inline textarea {
  width: auto;
}

/* line 3, ../scss/mixin/_formColor.scss */
.warning label {
  color: #c19607;
}
/* line 6, ../scss/mixin/_formColor.scss */
.warning input,
.warning select,
.warning textarea {
  border: 1px solid #f2bc09;
  color: #c19607;
}
/* line 13, ../scss/mixin/_formColor.scss */
.warning .msg {
  color: #c19607;
}

/* line 3, ../scss/mixin/_formColor.scss */
.success label {
  color: #6f8516;
}
/* line 6, ../scss/mixin/_formColor.scss */
.success input,
.success select,
.success textarea {
  border: 1px solid #93b11d;
  color: #6f8516;
}
/* line 13, ../scss/mixin/_formColor.scss */
.success .msg {
  color: #6f8516;
}

/* line 3, ../scss/mixin/_formColor.scss */
.danger label {
  color: #881827;
}
/* line 6, ../scss/mixin/_formColor.scss */
.danger input,
.danger select,
.danger textarea {
  border: 1px solid #b32034;
  color: #881827;
}
/* line 13, ../scss/mixin/_formColor.scss */
.danger .msg {
  color: #881827;
}

/* line 177, ../scss/_class.scss */
.border-left {
  border-left: 1px solid #ccc;
}

/* line 181, ../scss/_class.scss */
.border-right {
  border-right: 1px solid #ccc;
}

/* line 185, ../scss/_class.scss */
.label {
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  min-width: 50px;
}

/* line 197, ../scss/_class.scss */
.border-radius {
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* line 202, ../scss/_class.scss */
.has-error {
  border: 1px solid #d92d44;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: #f1aeb7;
}
