@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);
/* line 7, ../scss/_base.scss */
body {
  padding: 0;
  padding-top: 60px;
  padding-bottom: 40px;
  min-width: 600px;
  height: calc(100vh - 100px);
}

/* line 16, ../scss/_base.scss */
html, body {
  font-family: "Noto Sans Japanese";
  background: #f5f5f5;
  font-size: 16px;
  margin: 0;
  position: relative;
}

/* line 25, ../scss/_base.scss */
a {
  text-decoration: none;
  padding: 5px;
  outline: none;
}
/* line 29, ../scss/_base.scss */
a:hover {
  transition: 0.6s;
}

/* line 34, ../scss/_base.scss */
a:link {
  color: #3261ab;
}

/* line 35, ../scss/_base.scss */
a:visited {
  color: #2c5697;
}

/* line 36, ../scss/_base.scss */
a:hover {
  color: #bf1e56;
}

/* line 37, ../scss/_base.scss */
a:active {
  color: #bf1e56;
}

/* line 39, ../scss/_base.scss */
.btn:link {
  color: #fff;
}

/* line 40, ../scss/_base.scss */
.btn:visited {
  color: #fff;
}

/* line 41, ../scss/_base.scss */
.btn:hover {
  color: #fff;
}

/* line 42, ../scss/_base.scss */
.btn:active {
  color: #fff;
}

/* line 44, ../scss/_base.scss */
p {
  margin: 5px 0;
}

/* line 48, ../scss/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rounded Mplus 1c";
  margin: 10px 0;
}

/* line 59, ../scss/_base.scss */
ul,
ol {
  margin: 10px 0;
}

/* line 65, ../scss/_base.scss */
table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 10px 0;
}
/* line 70, ../scss/_base.scss */
table th {
  text-align: left;
}
/* line 74, ../scss/_base.scss */
table td {
  padding: 2px 5px;
}
/* line 76, ../scss/_base.scss */
table td:first-child:before {
  content: "";
  display: block;
  height: 35px;
  float: left;
}
/* line 83, ../scss/_base.scss */
table th, table td {
  border: 1px solid #ccc;
}

/* line 87, ../scss/_base.scss */
form {
  margin: 0;
}

/* line 90, ../scss/_base.scss */
input,
select,
textarea {
  padding: 10px 5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: "Noto Sans Japanese";
  outline: none;
}
/* line 100, ../scss/_base.scss */
input:hover,
select:hover,
textarea:hover {
  transition: 0.6s;
  box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.2);
  -webkit-box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.2);
  -moz-box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.2);
  -ms-box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.2);
  -o-box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.2);
}

/* line 106, ../scss/_base.scss */
input[type="radio"],
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  padding: 0;
}
/* line 112, ../scss/_base.scss */
input[type="radio"]:hover,
input[type="checkbox"]:hover {
  transition: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}

/* line 118, ../scss/_base.scss */
input[type="button"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"],
input[type="color"],
button,
a {
  cursor: pointer;
}

/* line 128, ../scss/_base.scss */
input[type="color"] {
  padding: 0;
  height: 30px;
  width: 60px;
}

/* line 134, ../scss/_base.scss */
input:disabled,
button:disabled,
select:disabled,
textarea:disabled {
  cursor: not-allowed !important;
}

/* line 140, ../scss/_base.scss */
pre, code {
  font-family: "Source Code Pro", sans-serif;
  font-size: 0.85em;
}

/* line 144, ../scss/_base.scss */
pre {
  border: 1px solid #ccc;
  background: #ededed;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 0;
  z-index: 0;
}

/* line 151, ../scss/_base.scss */
code {
  position: relative;
  white-space: pre-wrap;
  word-break: break-all;
  z-index: 0;
}
/* line 156, ../scss/_base.scss */
code:before {
  white-space: pre-wrap;
  word-break: normal;
  content: "code";
  border: 1px solid #ccc;
  position: absolute;
  margin: 0;
  padding: 2px 5px;
  left: 10px;
  top: -3px;
  background: gainsboro;
}

/* line 1, ../scss/_container.scss */
.container {
  padding: 10px;
}

/* line 4, ../scss/_container.scss */
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}
/* line 11, ../scss/_container.scss */
.flex .col-1 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 7.333%;
  min-width: 150px;
}
/* line 11, ../scss/_container.scss */
.flex .col-2 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 14.666%;
  min-width: 150px;
}
/* line 11, ../scss/_container.scss */
.flex .col-3 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 21.999%;
  min-width: 150px;
}
/* line 11, ../scss/_container.scss */
.flex .col-4 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 29.332%;
  min-width: 150px;
}
/* line 11, ../scss/_container.scss */
.flex .col-5 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 36.665%;
  min-width: 150px;
}
/* line 11, ../scss/_container.scss */
.flex .col-6 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 43.998%;
  min-width: 150px;
}
/* line 11, ../scss/_container.scss */
.flex .col-7 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 51.331%;
  min-width: 150px;
}
/* line 11, ../scss/_container.scss */
.flex .col-8 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 58.664%;
  min-width: 150px;
}
/* line 11, ../scss/_container.scss */
.flex .col-9 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 65.997%;
  min-width: 150px;
}
/* line 11, ../scss/_container.scss */
.flex .col-10 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 73.33%;
  min-width: 150px;
}
/* line 11, ../scss/_container.scss */
.flex .col-11 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 80.663%;
  min-width: 150px;
}
/* line 11, ../scss/_container.scss */
.flex .col-12 {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 87.996%;
  min-width: 150px;
}

/* line 21, ../scss/_container.scss */
.col-btn {
  width: 30px;
  height: 30px;
  position: fixed;
  z-index: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 0;
  background-color: #8f8f8f;
  background-image: url(../imgs/toggle.png);
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  transition: 0.6s;
  opacity: 0.5;
  border: 1px solid gray;
}
/* line 36, ../scss/_container.scss */
.col-btn:hover {
  background-color: darkgray;
  background-image: url(../imgs/toggle.png);
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 43, ../scss/_container.scss */
.col-close {
  transform: rotateZ(180deg) scale(0.7);
  -webkit-transform: rotateZ(180deg) scale(0.7);
  -moz-transform: rotateZ(180deg) scale(0.7);
  -ms-transform: rotateZ(180deg) scale(0.7);
  -o-transform: rotateZ(180deg) scale(0.7);
  transition: 0.6s;
}

/*
$btn-width: 15px;
.col-btn{
    width: $btn-width;
    height: calc(100vh - 100px);
    position: fixed;
    z-index: 1;
    @include setPrefix(border-radius, 0);
    padding: 0;
    margin: 0;
    right: $btn-width;
    background-color: darken($bg-base-color, 40%);
    &:after{
        content: '';
        position: absolute;
        width: $btn-width;
        height: $btn-width;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background-image: url(../imgs/toggle.png);
        background-position: center center;
        background-repeat: no-repeat;
        @include setPrefix(transform, rotateZ(180deg));
    }
    transition: $timer;
    opacity: 0.5;
    border: 1px solid darken($line-color, 30%);
    &:hover{
        background-color: darken($bg-base-color, 30%);
    }
}
.col-close{
    &:after{
        @include setPrefix(transform, rotateZ(0deg));
        transition: $timer;
    }
}

#col-menu + div{
    margin-left: $btn-width;
}
*/
/* line 1, ../scss/_header.scss */
header {
  background: #444;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  height: 60px;
}
/* line 10, ../scss/_header.scss */
header .logo {
  display: inline-block;
  width: 170px;
  height: 25px;
  background-image: url(../imgs/logo_2.png);
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 17, ../scss/_header.scss */
header .logo:hover {
  transition: 0.6s;
  background-image: url(../imgs/logo_2_hover.png);
}
/* line 23, ../scss/_header.scss */
header .user-name {
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
}
/* line 28, ../scss/_header.scss */
header .user-name .honorific {
  font-size: 0.8em;
}

/* line 1, ../scss/_menu.scss */
.menu {
  position: relative;
}
/* line 3, ../scss/_menu.scss */
.menu ul {
  list-style: none;
  padding: 0;
}
/* line 6, ../scss/_menu.scss */
.menu ul li {
  border-bottom: 1px solid #ccc;
  text-align: center;
  vertical-align: middle;
}
/* line 12, ../scss/_menu.scss */
.menu ul li a {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
}
/* line 17, ../scss/_menu.scss */
.menu ul li a:hover {
  background: #cccccc;
  transition: 0.6s;
}
/* line 25, ../scss/_menu.scss */
.menu .logout {
  position: absolute;
  right: 5px;
  bottom: 45px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px 20px;
}

/* line 34, ../scss/_menu.scss */
.menu-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  bottom: 0;
  right: -15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 0;
  margin: auto;
  background: #767676;
  border: 1px solid gray;
}

/* line 1, ../scss/_footer.scss */
footer {
  background: #444;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  height: 40px;
}
/* line 10, ../scss/_footer.scss */
footer h6 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  height: 10px;
  line-height: 10px;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(180deg);
    opacity: 1.0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.2;
  }
}
/* line 13, ../scss/_loading.scss */
#loader {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 15px solid #6BBED5;
  border-right-color: transparent;
  animation: load 0.6s linear infinite;
  margin: auto;
  top: 200px;
  right: 0;
  left: 0;
  display: none;
}

/* line 1, ../scss/_class.scss */
.text-right {
  text-align: right;
}

/* line 4, ../scss/_class.scss */
.text-left {
  text-align: left;
}

/* line 7, ../scss/_class.scss */
.text-center {
  text-align: center;
}

/* line 11, ../scss/_class.scss */
.border-bottom {
  border: none;
}
/* line 13, ../scss/_class.scss */
.border-bottom th, .border-bottom td {
  border: none;
  border-bottom: 1px solid #ccc;
}

/* line 18, ../scss/_class.scss */
.border-none {
  border: none;
}
/* line 20, ../scss/_class.scss */
.border-none th, .border-none td {
  border: none;
}

/* line 27, ../scss/_class.scss */
.table-hover tbody tr:hover th, .table-hover tbody tr:hover td {
  background: #e8e8e8;
  transition: 0.6s;
}

/* line 35, ../scss/_class.scss */
.table-stripe tbody tr:nth-child(odd) {
  background: #e8e8e8;
}

/* line 40, ../scss/_class.scss */
.btn, button {
  padding: 7px 10px;
  border: 1px solid #ccc;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: darkgray;
  box-sizing: border-box;
  display: inline-block;
  margin: 5px 2px;
  outline: none;
  font-weight: bold;
  font-size: 0.85em;
  cursor: pointer;
  outline: none;
}
/* line 54, ../scss/_class.scss */
.btn:hover, button:hover {
  transition: 0.6s;
  background: #c2c2c2;
}

/* line 60, ../scss/_class.scss */
.btn-group {
  letter-spacing: -1em;
}
/* line 62, ../scss/_class.scss */
.btn-group .btn {
  margin: 0;
}
/* line 65, ../scss/_class.scss */
.btn-group .btn:not(:last-child):not(:first-child) {
  letter-spacing: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-right: none;
}
/* line 71, ../scss/_class.scss */
.btn-group .btn:first-child {
  border-top-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  -ms-border-top-right-radius: 0;
  -o-border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  border-right: none;
}
/* line 76, ../scss/_class.scss */
.btn-group .btn:last-child {
  border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  -ms-border-top-left-radius: 0;
  -o-border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  border-right: 1px solid #ccc;
}
/* line 81, ../scss/_class.scss */
.btn-group .btn:only-child {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #ccc !important;
}

/* line 86, ../scss/_class.scss */
.btn-sm {
  padding: 2px 5px;
  font-size: 0.75em;
  min-width: 20px;
}

/* line 91, ../scss/_class.scss */
.block {
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

/* line 97, ../scss/_class.scss */
.inline {
  display: inline-block;
}

/* line 101, ../scss/_class.scss */
.btn-blue {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.47, #eee), color-stop(0, white));
  background: -webkit-linear-gradient(top, white 0%, #eee 47%);
  background: -moz-linear-gradient(top, white 0%, #eee 47%);
  background: -o-linear-gradient(top, white 0%, #eee 47%);
  background: -ms-linear-gradient(top, white 0%, #eee 47%);
  background: linear-gradient(to bottom, white 0%, #eee 47%);
  color: #2d579a;
  border: 1px solid #ccc;
}
/* line 6, ../scss/mixin/_btnColor.scss */
.btn-blue:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.47, #2d579a), color-stop(0, #5d89d0));
  background: -webkit-linear-gradient(top, #5d89d0 0%, #2d579a 47%);
  background: -moz-linear-gradient(top, #5d89d0 0%, #2d579a 47%);
  background: -o-linear-gradient(top, #5d89d0 0%, #2d579a 47%);
  background: -ms-linear-gradient(top, #5d89d0 0%, #2d579a 47%);
  background: linear-gradient(to bottom, #5d89d0 0%, #2d579a 47%);
}

/* line 104, ../scss/_class.scss */
.btn-red {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.47, #eee), color-stop(0, white));
  background: -webkit-linear-gradient(top, white 0%, #eee 47%);
  background: -moz-linear-gradient(top, white 0%, #eee 47%);
  background: -o-linear-gradient(top, white 0%, #eee 47%);
  background: -ms-linear-gradient(top, white 0%, #eee 47%);
  background: linear-gradient(to bottom, white 0%, #eee 47%);
  color: #b32034;
  border: 1px solid #ccc;
}
/* line 6, ../scss/mixin/_btnColor.scss */
.btn-red:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.47, #b32034), color-stop(0, #e1586b));
  background: -webkit-linear-gradient(top, #e1586b 0%, #b32034 47%);
  background: -moz-linear-gradient(top, #e1586b 0%, #b32034 47%);
  background: -o-linear-gradient(top, #e1586b 0%, #b32034 47%);
  background: -ms-linear-gradient(top, #e1586b 0%, #b32034 47%);
  background: linear-gradient(to bottom, #e1586b 0%, #b32034 47%);
}

/* line 107, ../scss/_class.scss */
.btn-yellow {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.47, #eee), color-stop(0, white));
  background: -webkit-linear-gradient(top, white 0%, #eee 47%);
  background: -moz-linear-gradient(top, white 0%, #eee 47%);
  background: -o-linear-gradient(top, white 0%, #eee 47%);
  background: -ms-linear-gradient(top, white 0%, #eee 47%);
  background: linear-gradient(to bottom, white 0%, #eee 47%);
  color: #f2bc09;
  border: 1px solid #ccc;
}
/* line 6, ../scss/mixin/_btnColor.scss */
.btn-yellow:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.47, #f2bc09), color-stop(0, #f9d868));
  background: -webkit-linear-gradient(top, #f9d868 0%, #f2bc09 47%);
  background: -moz-linear-gradient(top, #f9d868 0%, #f2bc09 47%);
  background: -o-linear-gradient(top, #f9d868 0%, #f2bc09 47%);
  background: -ms-linear-gradient(top, #f9d868 0%, #f2bc09 47%);
  background: linear-gradient(to bottom, #f9d868 0%, #f2bc09 47%);
}

/* line 110, ../scss/_class.scss */
.btn-green {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.47, #eee), color-stop(0, white));
  background: -webkit-linear-gradient(top, white 0%, #eee 47%);
  background: -moz-linear-gradient(top, white 0%, #eee 47%);
  background: -o-linear-gradient(top, white 0%, #eee 47%);
  background: -ms-linear-gradient(top, white 0%, #eee 47%);
  background: linear-gradient(to bottom, white 0%, #eee 47%);
  color: #93b11d;
  border: 1px solid #ccc;
}
/* line 6, ../scss/mixin/_btnColor.scss */
.btn-green:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.47, #93b11d), color-stop(0, #c5e351));
  background: -webkit-linear-gradient(top, #c5e351 0%, #93b11d 47%);
  background: -moz-linear-gradient(top, #c5e351 0%, #93b11d 47%);
  background: -o-linear-gradient(top, #c5e351 0%, #93b11d 47%);
  background: -ms-linear-gradient(top, #c5e351 0%, #93b11d 47%);
  background: linear-gradient(to bottom, #c5e351 0%, #93b11d 47%);
}

/* line 113, ../scss/_class.scss */
.btn-purple {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.47, #eee), color-stop(0, white));
  background: -webkit-linear-gradient(top, white 0%, #eee 47%);
  background: -moz-linear-gradient(top, white 0%, #eee 47%);
  background: -o-linear-gradient(top, white 0%, #eee 47%);
  background: -ms-linear-gradient(top, white 0%, #eee 47%);
  background: linear-gradient(to bottom, white 0%, #eee 47%);
  color: #693a8a;
  border: 1px solid #ccc;
}
/* line 6, ../scss/mixin/_btnColor.scss */
.btn-purple:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.47, #693a8a), color-stop(0, #9d6ac0));
  background: -webkit-linear-gradient(top, #9d6ac0 0%, #693a8a 47%);
  background: -moz-linear-gradient(top, #9d6ac0 0%, #693a8a 47%);
  background: -o-linear-gradient(top, #9d6ac0 0%, #693a8a 47%);
  background: -ms-linear-gradient(top, #9d6ac0 0%, #693a8a 47%);
  background: linear-gradient(to bottom, #9d6ac0 0%, #693a8a 47%);
}

/* line 117, ../scss/_class.scss */
.bg-blue,
.bg-red,
.bg-yellow,
.bg-green,
.bg-purple {
  color: #fff;
}

/* line 126, ../scss/_class.scss */
.bg-blue {
  background: #2d579a !important;
}

/* line 129, ../scss/_class.scss */
.bg-red {
  background: #b32034 !important;
}

/* line 132, ../scss/_class.scss */
.bg-yellow {
  background: #f2bc09 !important;
}

/* line 135, ../scss/_class.scss */
.bg-green {
  background: #93b11d !important;
}

/* line 138, ../scss/_class.scss */
.bg-purple {
  background: #693a8a !important;
}

/* line 141, ../scss/_class.scss */
.bg-glay {
  background: gainsboro;
}

/* line 144, ../scss/_class.scss */
.bg-white {
  background: #fff;
}

/* line 147, ../scss/_class.scss */
.text-red {
  color: #c9243a;
}

/* line 151, ../scss/_class.scss */
.text-green {
  color: #819b19;
}

/* line 154, ../scss/_class.scss */
.text-blue {
  color: #3362ae;
}

/* line 157, ../scss/_class.scss */
.text-yellow {
  color: #d9a908;
}

/* line 160, ../scss/_class.scss */
.text-purple {
  color: #9158b9;
}

/* line 165, ../scss/_class.scss */
.opacity-1 {
  opacity: 0.1;
}

/* line 165, ../scss/_class.scss */
.opacity-2 {
  opacity: 0.2;
}

/* line 165, ../scss/_class.scss */
.opacity-3 {
  opacity: 0.3;
}

/* line 165, ../scss/_class.scss */
.opacity-4 {
  opacity: 0.4;
}

/* line 165, ../scss/_class.scss */
.opacity-5 {
  opacity: 0.5;
}

/* line 165, ../scss/_class.scss */
.opacity-6 {
  opacity: 0.6;
}

/* line 165, ../scss/_class.scss */
.opacity-7 {
  opacity: 0.7;
}

/* line 165, ../scss/_class.scss */
.opacity-8 {
  opacity: 0.8;
}

/* line 165, ../scss/_class.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 169, ../scss/_class.scss */
.form-group label, .form-group .msg {
  display: block;
  font-size: 0.8em;
}
/* line 173, ../scss/_class.scss */
.form-group input, .form-group select, .form-group textarea {
  width: 100%;
}

/* line 180, ../scss/_class.scss */
.form-trans input, .form-trans select, .form-trans textarea {
  background: rgba(255, 255, 255, 0.2);
}

/* line 189, ../scss/_class.scss */
.radio label,
.checkbox label {
  display: block;
  cursor: pointer;
  vertical-align: middle;
}
/* line 193, ../scss/_class.scss */
.radio label input[type="checkbox"],
.radio label input[type="radio"],
.checkbox label input[type="checkbox"],
.checkbox label input[type="radio"] {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin: 0;
}

/* line 205, ../scss/_class.scss */
.form-group-inline label {
  display: inline-block;
}
/* line 208, ../scss/_class.scss */
.form-group-inline input, .form-group-inline select, .form-group-inline textarea {
  width: auto;
}

/* line 3, ../scss/mixin/_formColor.scss */
.warning label {
  color: #e3b108;
}
/* line 6, ../scss/mixin/_formColor.scss */
.warning input,
.warning select,
.warning textarea {
  border: 1px solid #f2bc09;
  color: #e3b108;
}
/* line 13, ../scss/mixin/_formColor.scss */
.warning .msg {
  color: #e3b108;
}

/* line 3, ../scss/mixin/_formColor.scss */
.success label {
  color: #6f8516;
}
/* line 6, ../scss/mixin/_formColor.scss */
.success input,
.success select,
.success textarea {
  border: 1px solid #93b11d;
  color: #6f8516;
}
/* line 13, ../scss/mixin/_formColor.scss */
.success .msg {
  color: #6f8516;
}

/* line 3, ../scss/mixin/_formColor.scss */
.danger label {
  color: #881827;
}
/* line 6, ../scss/mixin/_formColor.scss */
.danger input,
.danger select,
.danger textarea {
  border: 1px solid #b32034;
  color: #881827;
}
/* line 13, ../scss/mixin/_formColor.scss */
.danger .msg {
  color: #881827;
}

/* line 224, ../scss/_class.scss */
.border-left {
  border-left: 1px solid #ccc;
}

/* line 228, ../scss/_class.scss */
.border-right {
  border-right: 1px solid #ccc;
}

/* line 232, ../scss/_class.scss */
.label {
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  min-width: 50px;
}

/* line 244, ../scss/_class.scss */
.border-radius {
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* line 249, ../scss/_class.scss */
.has-error {
  border: 1px solid #d92d44;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: #f1aeb7;
}

/* line 255, ../scss/_class.scss */
.scroll {
  height: calc(100vh - 100px);
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 261, ../scss/_class.scss */
.paging {
  position: relative;
  left: 5px;
  bottom: 7px;
  z-index: 1;
  letter-spacing: -1em;
  padding: 5px 0;
}
/* line 268, ../scss/_class.scss */
.paging .page-selected {
  transition: 0.6s;
  color: #fff;
}
/* line 273, ../scss/_class.scss */
.paging .page {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.47, #eee), color-stop(0, white));
  background: -webkit-linear-gradient(top, white 0%, #eee 47%);
  background: -moz-linear-gradient(top, white 0%, #eee 47%);
  background: -o-linear-gradient(top, white 0%, #eee 47%);
  background: -ms-linear-gradient(top, white 0%, #eee 47%);
  background: linear-gradient(to bottom, white 0%, #eee 47%);
  letter-spacing: 0;
  margin: 0;
  font-size: 0.75em;
  font-weight: bold;
  padding: 2px 6px;
  display: inline-block;
  min-width: 15px;
  text-align: center;
}
/* line 275, ../scss/_class.scss */
.paging .page:link, .paging .page:visited {
  color: #e3b108;
}
/* line 289, ../scss/_class.scss */
.paging .page:hover, .paging .page-selected {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.47, #f2bc09), color-stop(0, #f9d868));
  background: -webkit-linear-gradient(top, #f9d868 0%, #f2bc09 47%);
  background: -moz-linear-gradient(top, #f9d868 0%, #f2bc09 47%);
  background: -o-linear-gradient(top, #f9d868 0%, #f2bc09 47%);
  background: -ms-linear-gradient(top, #f9d868 0%, #f2bc09 47%);
  background: linear-gradient(to bottom, #f9d868 0%, #f2bc09 47%);
  transition: 0;
  color: #fff !important;
}
