.draggable{
    position: absolute;
    top: 70px;
    right: 20px;
    cursor: move;
    z-index: 2;
    &:after{
        content: '';
        background-image: url(../imgs/draggable_1.png);
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: 0.3;
        width: 24px;
        height: 24px;
        position: absolute;
        bottom: 2px;
        right: 2px;
    }
}