.logout-menu:hover{
    color: lighten($red, 30%);
    transition: 0.6s;
    cursor: pointer;
}

.logout-content{
    position: absolute;
//    background: rgba(255,255,255,0.7);
    left: 5px;
    bottom: -50px;
    box-sizing: border-box;
    padding: 5px 0;
    display: none;
    @include setPrefix(border-radius, 2px);
    width: 150px;
    font-size: 0.8em;
    text-align: center;
    a{
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
}
// .logout-content a:hover{
//     transition: $timer;
// //    border-bottom: 1px solid $line-color;
// //    background: darken($bg-base-color, 10%);
// }

.arrow-box {
    position: absolute;
    background: $white;
    border: 1px solid $line-color;
    &:before, &:after{
        bottom: 100%;
        left: 15%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    &:before{
        border-color: rgba(153, 153, 153, 0);
        border-bottom-color: $line-color;
        border-width: 6px;
        margin-left: -6px;
    }
    &:after{
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: $white;
        border-width: 5px;
        margin-left: -5px;
    }
}