.tips{
    position: relative;
    perspective: 1000px;
    z-index: 1;
    .tips-trigger{
        cursor: help;
    }
    .tips-target{
        display: none;
    }
    .tips-content{
        padding: 10px 20px;
        box-sizing: border-box;
        position: absolute;
        @include setPrefix(border-radius, 10px);
        z-index: 2;
        width: 400px;
        min-height: 100px;
        background: rgba($black, 0.7);
        color: $white;
        border: 1px solid darken($line-color, 50%);
        font-size: 0.9em;
        top: 20px;
        animation: tips $timer forwards;
    }
}

@keyframes tips{
    0%{
        @include setPrefix(transform, translateY(20px));
    }
    100%{
        @include setPrefix(transform, translateY(0px));
    }
}