
.tips-trigger{
    z-index: 1;
    position: relative;
    &:after{
        content: '';
        background-image: url(../imgs/hint.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
        width: 10px;
        height: 10px;
        position: absolute;
        right: 1px;
        bottom: 1px;
        z-index: 2;
        opacity: 0.7;
    }
}
.tips-target{
    display: none;
    z-index: 0;
}

@keyframes tips{
    0%{
        @include setPrefix(transform, translateY(20px));
    }
    100%{
        @include setPrefix(transform, translateY(0px));
    }
}


$btn: 24px;
.tips-btn{
    width: $btn;
    height: $btn;
    @include setPrefix(border-radius, 50%);
//    z-index: 11;
    overflow: hidden;
    background-color: rgba($yellow, 0.7);
    background-image: url(../imgs/tips.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75%;
    border: 1px solid darken($yellow, 10%);
    position: absolute;
    right: 20px;
    bottom: 40px;
    cursor: pointer;
    &:hover{
        transition: $timer;
        opacity: 0.7;
    }
}
.tips-content{
    padding: 10px 20px;
    box-sizing: border-box;
    position: absolute;
    @include setPrefix(border-radius, 10px);
    z-index: 10;
    width: 40%;
    min-height: 100px;
    max-height: 300px;
//    height: 30%;
    background: rgba($black, 0.5);
    color: $white;
    border: 1px solid darken($line-color, 40%);
    font-size: 0.9em;
    top: auto;
    bottom: (50 + $btn);
    font-size: 0.8em;
    right: (10 + $btn);
    display: none;
}

