
.tips-trigger{
    z-index: 1;
    position: relative;
    // &:after{
    //     content: '';
    //     background-image: url(../imgs/hint.png);
    //     background-repeat: no-repeat;
    //     background-size: 100%;
    //     background-position: center center;
    //     width: 16px;
    //     height: 16px;
    //     position: absolute;
    //     right: 1px;
    //     bottom: 1px;
    //     z-index: 2;
    //     opacity: 0.3;
    // }
}
.tips-target{
    display: none;
    z-index: 0;
}

@keyframes tips{
    0%{
        @include setPrefix(transform, scale(1.0));
    }
    100%{
        @include setPrefix(transform, scale(1.2));
    }
}


$btn: 24px;
.tips-btn{
    width: $btn;
    height: $btn;
//    @include setPrefix(border-radius, 50%);
    z-index: 2;
    overflow: hidden;
//    background-color: rgba($yellow, 0.7);
    background-image: url(../imgs/hint_1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
//    border: 1px solid darken($yellow, 10%);
    position: absolute;
    right: 20px;
    bottom: 40px;
    cursor: pointer;
    &:hover{
        transition: $timer;
        animation: tips 0.6s forwards;
//        opacity: 0.7;
    }
}
.tips-content{
    padding: 10px 20px;
    box-sizing: border-box;
    position: absolute;
    @include setPrefix(border-radius, 10px);
    z-index: 10;
    width: 40%;
    height: 125px;
//    min-height: 100px;
//    max-height: 300px;
//    height: 30%;
    background: rgba($black, 0.5);
    color: $white;
    border: 1px solid darken($line-color, 40%);
    font-size: 0.9em;
    top: auto;
    bottom: (50 + $btn);
    font-size: 0.8em;
    right: (10 + $btn);
    display: none;
}

