html{
    overflow-y: scroll;
    overflow-x: hidden;
}

body{
    padding: 50px 0;
    height: 100%;
}
html, body{
    font-family: "Noto Sans Japanese";
    background: $bg-base-color;
    font-size: 16px;
    margin: 0;
    position: relative;
    min-height: 100%;
}

a{
    text-decoration: none;
    padding: 5px;
    outline: none;
    &:hover{
        transition: $timer;
    }
}

a:link    { color: #3261ab; }
a:visited { color: #aaa; }
a:hover   { color: #bf1e56; }
a:active  { color: #bf1e56; }

.btn:link    { color: $white; }
.btn:visited { color: darken($white, 10%); }
.btn:hover   { color: darken($white, 5%); }
.btn:active  { color: darken($white, 10%); }

p{
    margin: 5px 0;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: "Rounded Mplus 1c";
    margin: 10px 0;
}

ul,
ol
{
    margin: 10px 0;
}

table{
    width: 100%;
    border: 1px solid $line-color;
    border-collapse: collapse;
    margin: 10px 0;
    th{
        border: 1px solid $line-color;
        text-align: left;
    }
    td{
        border: 1px solid $line-color;
    }
}

input,
select,
textarea
{
    padding: 10px 5px;
    @include setPrefix(border-radius, 3px);
    border: 1px solid $line-color;
    box-sizing: border-box;
    font-family: "Noto Sans Japanese";
    &:hover{
        transition: $timer;
        @include setPrefix(box-shadow, 2px 2px 4px rgba($shadow-color, 0.2));
    }
}

input[type="radio"],
input[type="checkbox"]
{
    width: 20px;
    height: 20px;
    padding: 0;
    &:hover{
        transition: 0;
        @include setPrefix(box-shadow, none);
    }
}

input[type="button"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"],
button,
a
{
    cursor: pointer;
}

pre, code{
    font-family: "Source Code Pro", sans-serif;
    font-size: 0.85em;
}
pre{
    border: 1px solid $line-color;
    background: darken($bg-base-color, 3%);
    @include setPrefix(border-radius, 5px);
    margin: 0;
    z-index: 0;
}
code{
    position: relative;
    white-space: pre-wrap;
    word-break: break-all;
    z-index: 0;
    &:before{
        white-space: pre-wrap;
        word-break: normal;
        content: "code";
        border: 1px solid $line-color;
        position: absolute;
        margin: 0;
        padding: 2px 5px;
        left: 10px;
        top: -3px;
        background: darken($bg-base-color, 10%);
    }
}