.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}

.border-bottom{
    border: none;
    th, td{
        border: none;
        border-bottom: 1px solid $line-color;
    }
}
.border-none{
    border: none;
    th, td{
        border: none;
    }
}

.table-hover{
    tbody tr:hover{
        th,td{
            background: darken($bg-base-color, 5%);
            transition: $timer;
        }
    }
}

.table-stripe{
    tbody tr:nth-child(odd){
        background: darken($bg-base-color, 5%);
    }
}

.btn, button{
    padding: 10px 20px;
    border: 1px solid $line-color;
    color: $white;
    @include setPrefix(border-radius, 5px);
    background: darken($bg-base-color, 30%);
    box-sizing: border-box;
    display: inline-block;
    margin: 5px 2px;
    outline: none;
    font-weight: bold;
    font-size: 0.9em;
    cursor: pointer;
    outline: none;
    &:hover{
        transition: $timer;
        background: darken($bg-base-color, 20%);
    }
}
.block{
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.inline{
    display: inline-block;
}

.btn-blue{
    @include btnColor($blue, darken($blue, 5%));
}
.btn-red{
    @include btnColor($red, darken($red, 5%));
}
.btn-yellow{
    @include btnColor($yellow, darken($yellow, 5%));
}
.btn-green{
    @include btnColor($green, darken($green, 5%));
}
.btn-purple{
    @include btnColor($purple, darken($purple, 5%));
}

.bg-blue,
.bg-red,
.bg-yellow,
.bg-green,
.bg-purple
{
    color: $white;
}

.bg-blue{
    background: $blue !important;
}
.bg-red{
    background: $red !important;
}
.bg-yellow{
    background: $yellow !important;
}
.bg-green{
    background: $green !important;
}
.bg-purple{
    background: $purple !important;
}
.bg-glay{
    background: darken($bg-base-color, 10%);
}
.bg-white{
    background: $white;
}

@for $i from 1 through 9
{
    .opacity-#{$i}{ opacity: #{$i*0.1} }
}

.form-group{
    label, .msg{
        display: block;
        font-size: 0.8em;
    }
    input, select, textarea
    {
        width: 100%;
    }
}

.form-trans{
    input, select, textarea
    {
        background: rgba($white, 0.2);
    }
}

.radio,
.checkbox
{
    label{
        display: block;
        cursor: pointer;
        vertical-align: middle;
        input[type="checkbox"],
        input[type="radio"]
        {
            vertical-align: middle;
            width: 20px;
            height: 20px;
            margin: 0;
        }
    }
}

.form-group-inline{
    label{
        display: inline-block;
    }
    input, select, textarea
    {
        width: auto;
    }
}

.warning{
    @include formColor($yellow, $text-yellow);
}
.success{
    @include formColor($green, $text-green);
}
.danger{
    @include formColor($red, $text-red);
}

.border-left{
    border-left: 1px solid $line-color;
}

.border-right{
    border-right: 1px solid $line-color;
}

.label{
    color: $white;
    display: inline-block;
    padding: 5px 10px;
    @include setPrefix(border-radius, 5px);
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    min-width: 50px;

}

.border-radius{
    border: 1px solid $line-color;
    @include setPrefix(border-radius, 5px);
}

.has-error{
    border: 1px solid lighten($red, 10%);
    @include setPrefix(border-radius, 5px);
    background: lighten($red, 40%);
}