.container{
    padding: 10px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    @for $i from 1 through 12
    {
        .col-#{$i}{
            flex: 1 1 auto;
            box-sizing: border-box;
//            border: 1px solid #000;
            width: #{7.333% * $i};
            min-width: 150px;
        }
    }
}
/*
$btn-width: 30px;
.col-btn{
    width: $btn-width;
    height: $btn-width;
    position: fixed;
    z-index: 1;
    @include setPrefix(border-radius, 50%);
    padding: 0;
    background-color: darken($bg-base-color, 40%);
    background-image: url(../imgs/toggle.png);
    background-position: center center;
    background-repeat: no-repeat;
    @include setPrefix(transform, rotateZ(180deg));
    transition: $timer;
    opacity: 0.5;
    border: 1px solid darken($line-color, 30%);
    &:hover{
    background-color: darken($bg-base-color, 30%);
        background-image: url(../imgs/toggle.png);
        background-position: center center;
        background-repeat: no-repeat;
    }
}
.col-close{
    @include setPrefix(transform, rotateZ(0deg));
    transition: $timer;
}
*/

$btn-width: 15px;
.col-btn{
    width: $btn-width;
    height: calc(100vh - 100px);
    position: fixed;
    z-index: 1;
    @include setPrefix(border-radius, 0);
    padding: 0;
    margin: 0;
    right: $btn-width;
    background-color: darken($bg-base-color, 40%);
    &:after{
        content: '';
        position: absolute;
        width: $btn-width;
        height: $btn-width;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background-image: url(../imgs/toggle.png);
        background-position: center center;
        background-repeat: no-repeat;
        @include setPrefix(transform, rotateZ(180deg));
    }
    transition: $timer;
    opacity: 0.5;
    border: 1px solid darken($line-color, 30%);
    &:hover{
        background-color: darken($bg-base-color, 30%);
    }
}
.col-close{
    &:after{
        @include setPrefix(transform, rotateZ(0deg));
        transition: $timer;
    }
}

#col-menu + div{
    margin-left: $btn-width;
}
