footer{
    background: $header-bg-color;
    color: $white;
//    position: absolute;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    height: 40px;
    z-index: 3;
    h6{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 10px;
        margin: auto;
        height: 10px;
        line-height: 10px;
    }
}