header{
    background: $header-bg-color;
    color: $white;
//    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    height: 60px;
    .logo{
        display: inline-block;
        width: 170px;
        height: 25px;
        background-image: url(../imgs/logo_2.png);
        background-repeat: no-repeat;
        background-position: center center;
        &:hover{
            transition: $timer;
            background-image: url(../imgs/logo_2_hover.png);

        }
    }
    .user-name{
        position: absolute;
        right: 10px;
        top: 10px;
        text-align: center;
        .honorific{
            font-size: 0.8em;
        }
    }

    .logout{
        position: absolute;
        right: 5px;
        top: 45px;
        background: $white;
        border: 1px solid $line-color;
        padding: 5px 20px;
    }
}